# build output
dist/
.astro/
.output/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
.env.local

# macOS / Windows
.DS_Store
Thumbs.db

# editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# pagefind index temp
public/pagefind/

# misc
*.log
